<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>
    <main class="container">
      <h2><%= wiki.title %></h2>
      <%- markdown.toHTML(wiki.body) %>
      <h3>Collaborators</h3>
        <ul class="list-group">
          <% wiki.collaborators.forEach((collaborator) => { %>
            <li class="list-group-item">
              <p>collaborator.email</p>
              <form style="display:initial" action="/wiki/<%= wiki.id %>/collaborator/<%= collaborator.id %>" method="post">
                <button type="submit" class="btn btn-danger">Remove</button>
              </form>
            </li>
          <% }) %>
        </ul>
        <form style="display:initial" action="/wiki/<%= wiki.id %>/collaborator" method="post">
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" name="email" placeholder="Enter Email" class="form-control"/>
            <small class="text-muted" id="emailHelp">email must be a valid email</small>
          </div>
          <button type="submit" class="btn btn-success">Add New</button>
        </form>
      <a href="/wiki/<%= wiki.id %>/edit" class="btn btn-warning">Edit</a>
      <form style="display:initial" action="/wiki/<%= wiki.id %>/destroy" method="post">
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
    </main>
    <% include ../static/partials/baseScripts.ejs %>
  </body>
